/* Login content settings */
.logincontent{
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 10px 15px;
    margin: 10px;
    background-color: aqua;
}

.logincontent p{
    text-align: center;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logininput {
    margin: 3px;
}

#loginbutton{
    padding: 10px 15px; 	
    margin: 3px 0px 10px 0px;			
    border: none;
    border-radius: 6px; 		
    color: #ffffff; 			
    background-color: #0463b9;
}

#loginbutton:hover {                 
	background-color: #034784;
}